<div class="w-50">
    <h2 class="m-3">Latest News</h2>
    {{#each posts as |post|}}
    <div class="card m-3">
        <div class="card-header"><a href='/api/posts/{{post.id}}'>{{post.title}}</a></div>
        <div class="card-body">{{post.description}}</div>
        <div class="card-footer">{{post.user.username}}</div>
    </div>
    {{/each}}
</div>

