
<div class="login-container col position-absolute top-50 start-50 translate-middle">
    <h2 class="ms-3 mt-2">Login</h2>
    <form class="login-form">
        <div class="m-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control border border-dark" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="m-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control border border-dark" id="password">
        </div>
        <button type="submit" class="custom-login-btn m-3 text-light">Login</button>
    </form>
</div>

<script src="/js/login.js"></script>