
<div class="signup-container position-absolute top-50 start-50 translate-middle">
    <h2 class="ms-3 mt-2">Sign Up</h2>
    <form class="signup-form position-relative">
        <div class="m-3">
            <label for="username" class="form-label">Username</label>
            <input type="username" class="form-control border border-dark" id="username" aria-describedby="username">   
        </div>
        <div class="m-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control border border-dark" id="email" aria-describedby="email">
        </div>
        <div class="m-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control border border-dark" id="password">
        </div>
        <button type="submit" class="custom-login-btn m-3 w-25 text-light ">Sign Up</button>
    </form>
</div>

<script src="/js/signup.js"></script>