:root {
    --theme: rgb(55, 125, 152);
}
@font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu-Regular.woff2') format('woff2'),
         url('/fonts/Apercu-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Apercu';
    src: url('/fonts/Apercu-Bold.woff2') format('woff2'),
         url('/fonts/Apercu-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  * {
    font-family: 'Apercu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* main {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.login-container, .signup-container {
    width: 35%;
    border: 1px solid black;
    background-color: rgb(230, 225, 225);
    display: flex;
    flex-direction: column;
    align-content: center;

}

button
 {
    background-color: var(--theme);
}
.custom-postform {
    display: none;
}
.form-label {
    font-size: 1.2rem;
    font-weight: 500;
}
.custom-navbar {
    background-color: var(--theme);
}
.custom-title {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    text-decoration: none;
}
.custom-menu {
    color: white;
}

.custom-singlepost {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.custom-postform {
    background-color: rgb(230, 225, 225);
}
  